<div id="kermit1">
        <ul>
            <% @todos.each do |todo| %>
                  <li>
                   <input type="checkbox" name=""/>
                   <a href="show/<%= todo.id %>"><%= todo.description %></a>
                   <span class="pomodoro-estimate small-pomodoro-estimate"><%= todo.pomodoro_estimate %></span>
                    
                  </li>
            <% end %>
        </ul>
                </li> 
                   <input type="text" placeholder="add new to do"/> 
                   <input type="number" placeholder="pomodoro estimate"/>
                   <input id="add-new-todo-button" type="submit" value="add to-do"/> <br>
                 
        </div>